

!!!
%html
  %head
    %title MoviesNow
    = stylesheet_link_tag 'home', :media => "all"

  %body
    .top
      %h1#heading



      %h2
        New video trailers



      %br





