!!!
%html
%head
  %title Review
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"

  = render :partial => '/layouts/header'
%body.centre
  =yield





